/* Background Colors */
.bg-current { background-color: currentColor; }
.bg-transparent { background-color: transparent; }
.bg-white { background-color: #FFFFFF; }
.bg-pureBlack { background-color: #000000; }
.bg-black { background-color: #1C2434; }
.bg-iconDefault { background-color: #677487; }
.bg-level4 { background-color: #003875; }
.bg-level3 { background-color: #ffce00; }
.bg-level2 { background-color: #ff8b00; }
.bg-level1 { background-color: #ea283c; }
.bg-green { background-color: #50af03; }
.bg-flightPlanBg { background-color: #F5F5F5; }
.bg-grayUnSelected { background-color: #EBEBEB; }
.bg-black-2 { background-color: #010101; }
.bg-body { background-color: #64748B; }
.bg-bodydark { background-color: #AEB7C0; }
.bg-bodydark1 { background-color: #DEE4EE; }
.bg-bodydark2 { background-color: #8A99AF; }
.bg-primary { background-color: #3C50E0; }
.bg-primarySelectedHover { background-color: #230031; }
.bg-primarySelected { background-color: #4E046D; }
.bg-primarySelected44 { background-color: #4E046D70; }
.bg-primarySelectedDark { background-color: #e3a6ff; }
.bg-orange { background-color: #FFA70B; }
.bg-secondary { background-color: #80CAEE; }
.bg-stroke { background-color: #E2E8F0; }
.bg-blue { background-color: #0100FB; }
.bg-red { background-color: #FF000D; }
.bg-grayText { background-color: #F2F2F2; }
.bg-gray { background-color: #EFF4FB; }
.bg-grayInput { background-color: #EBEBEB; }
.bg-graylightest { background-color: #EBEBEB; }
.bg-graylighter { background-color: #979797; }
.bg-graymedium1 { background-color: #403F40; }
.bg-graymedium2 { background-color: #828282; }
.bg-graymedium3 { background-color: #A5ABAE; }
.bg-graydark { background-color: #333A48; }
.bg-gray-2 { background-color: #F7F9FC; }
.bg-gray-3 { background-color: #FAFAFA; }
.bg-whiten { background-color: #F1F5F9; }
.bg-whiter { background-color: #F5F7FD; }
.bg-boxdark { background-color: #24303F; }
.bg-boxdark-2 { background-color: #1A222C; }
.bg-strokedark { background-color: #8e979d; }
.bg-form-strokedark { background-color: #3d4d60; }
.bg-form-input { background-color: #1d2a39; }
.bg-meta-1 { background-color: #DC3545; }
.bg-meta-2 { background-color: #EFF2F7; }
.bg-meta-3 { background-color: #10B981; }
.bg-meta-4 { background-color: #313D4A; }
.bg-meta-5 { background-color: #259AE6; }
.bg-meta-6 { background-color: #F39C11; }
.bg-meta-7 { background-color: #FF6766; }
.bg-meta-8 { background-color: #F0950C; }
.bg-meta-9 { background-color: #E5E7EB; }
.bg-meta-10 { background-color: #16A086; }
.bg-success { background-color: #219653; }
.bg-danger { background-color: #F13035; }
.bg-warning { background-color: #FFA70B; }

/* Text Colors */
.text-current { color: currentColor; }
.text-transparent { color: transparent; }
.text-white { color: #FFFFFF; }
.text-pureBlack { color: #000000; }
.text-black { color: #1C2434; }
.text-iconDefault { color: #677487; }
.text-level4 { color: #003875; }
.text-level3 { color: #ffce00; }
.text-level2 { color: #ff8b00; }
.text-level1 { color: #ea283c; }
.text-green { color: #50af03; }
.text-flightPlanBg { color: #F5F5F5; }
.text-grayUnSelected { color: #EBEBEB; }
.text-black-2 { color: #010101; }
.text-body { color: #64748B; }
.text-bodydark { color: #AEB7C0; }
.text-bodydark1 { color: #DEE4EE; }
.text-bodydark2 { color: #8A99AF; }
.text-primary { color: #3C50E0; }
.text-primarySelectedHover { color: #230031; }
.text-primarySelected { color: #4E046D; }
.text-primarySelected44 { color: #4E046D70; }
.text-primarySelectedDark { color: #e3a6ff; }
.text-orange { color: #FFA70B; }
.text-secondary { color: #80CAEE; }
.text-stroke { color: #E2E8F0; }
.text-blue { color: #0100FB; }
.text-red { color: #FF000D; }
.text-grayText { color: #F2F2F2; }
.text-gray { color: #EFF4FB; }
.text-grayInput { color: #EBEBEB; }
.text-graylightest { color: #EBEBEB; }
.text-graylighter { color: #979797; }
.text-graymedium1 { color: #403F40; }
.text-graymedium2 { color: #828282; }
.text-graymedium3 { color: #A5ABAE; }
.text-graydark { color: #333A48; }
.text-gray-2 { color: #F7F9FC; }
.text-gray-3 { color: #FAFAFA; }
.text-whiten { color: #F1F5F9; }
.text-whiter { color: #F5F7FD; }
.text-boxdark { color: #24303F; }
.text-boxdark-2 { color: #1A222C; }
.text-strokedark { color: #8e979d; }
.text-form-strokedark { color: #3d4d60; }
.text-form-input { color: #1d2a39; }
.text-meta-1 { color: #DC3545; }
.text-meta-2 { color: #EFF2F7; }
.text-meta-3 { color: #10B981; }
.text-meta-4 { color: #313D4A; }
.text-meta-5 { color: #259AE6; }
.text-meta-6 { color: #F39C11; }
.text-meta-7 { color: #FF6766; }
.text-meta-8 { color: #F0950C; }
.text-meta-9 { color: #E5E7EB; }
.text-meta-10 { color: #16A086; }
.text-success { color: #219653; }
.text-danger { color: #F13035; }
.text-warning { color: #FFA70B; }
.h-fit { height: fit-content; }
